*{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
body{
    
    background: linear-gradient(to bottom, #112b4e, #14465a);
}
header{
    position: fixed;
    display: block;
    top: 10px;
    right: 0;
}
header ul li{
    display: inline-block;
}
header ul li a{
    position: relative;
    right: 0;
    text-decoration: none;
    font-size: 25px;
}
body{
    height: 1500px;
}
#proyectos{
    width: 100%;
}
#inicio{
    margin-left: auto;
    width: 100%;
    height: 657px;
    color: #ff5b00;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#inicio div{
    padding-left: 10px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 3px solid #ff5b00;
}
.container li a{
    transition: all 300ms ease-in-out;
}
.container li a::before{
    content: var(--l);
    position:absolute;
    transform: scale(1.1);
    filter: blur(15px);
}
.container li a::after{
    content: var(--l);
    position: absolute;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
}
.container li a:hover{
    filter: contrast(350%);
}
.container li a:nth-child(1){
    color: #ff5b00;
}
#proyecto{
    background-color: rgb(183, 209, 218);
    width: 45%;
    padding: 30px;
    border-radius: 5%;
}
#proyectos h1, #proyectos hr{
    color: white;
}
#proyecto h3{
    margin-top: 10px;
}
#alinearProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#botonProyecto{
    color: #ff5b00;
    border: 1px solid #ff5b00;   
}
#botonProyecto:hover{
    background-color: #ff5b00;
    color: antiquewhite;
}